body{
    margin: 0;
    padding: 0;
    background-color: rgb(204, 201, 201);
    backdrop-filter: blur(0.1);
    
  
    
}
.main{
    margin-top: 1%;
    /* border: 1px solid black; */
    width: 100%;
    display: flex;
    justify-content: center;
    height: 70%;
}
.Amain{
    margin-top: 5%;
    /* border: 1px solid black; */
    width: 100%;
    display: flex;
    justify-content:center;
    margin-bottom: 5%;
}
nav{
    /* margin-top: -2%; */
    border: 1px solid black;
    width: 100%;
    height: 10%;
    position: fixed;
    background-color: rgb(10, 95, 207);
    display: flex;
    box-shadow: 2px 2px 2px 0.5px;

}
nav h2{
    margin-right: 25%;
    margin-left: 5%;
  
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    margin-right: 20px;
    margin-top: 10px;
}
a{
    text-decoration: none;
    color: whitesmoke;
    font-size: 25px;
}
a:hover{
    cursor: pointer;
    color:  rgb(22, 2, 2);
    text-decoration-line: underline;
}
span{
    color: whitesmoke;
    font-size: 30px;
}

.about{
    /* border: 1px solid black; */
    box-shadow: 2px 2px 2px 0.5px;
    text-align: center;
    margin-top: 30px;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 21px;
}
.projet{
    /* border: 1px solid black; */
    text-align: center;
    margin-top: 20px;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 21px;
    box-shadow: 2px 2px 2px 0.5px;
}


footer{
    /* position: fixed; */
    margin-top: 10%;
    background-color:rgb(10, 95, 207);
    
    width: 100%;
    box-shadow: 2px 0.5px 2px 0.5px;
}
footer h1{
    font-weight: 100;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
.foot{
    /* border: 2px solid black; */
    width: 50%; 
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 3px;
    display: flex;
    gap: 10px;
}
.foottt{
    background-color:rgb(10, 95, 207);
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    box-shadow: 2px 0.5px 2px 0.5px;
}
.copy{
    color: whitesmoke;
    /* width: 50px;
    height: 50px; */
    margin-left: 20px;
    margin-top: 7%;
}


